<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906998179656-dpnbisoqsmiol8jivr59kihm4r4e3pe5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906998179656-dpnbisoqsmiol8jivr59kihm4r4e3pe5</string>
	<key>API_KEY</key>
	<string>AIzaSyBq1edgGrPXITC8RVQn4Ubz6y-qfCmK1xc</string>
	<key>GCM_SENDER_ID</key>
	<string>906998179656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oliverthk.myConsoler</string>
	<key>PROJECT_ID</key>
	<string>myconsoler-db</string>
	<key>STORAGE_BUCKET</key>
	<string>myconsoler-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906998179656:ios:0ead72c294ac84349ab57d</string>
	<key>DATABASE_URL</key>
	<string>https://myconsoler-db.firebaseio.com</string>
</dict>
</plist>